<h1>Category Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Image:</b>
  <%= @category.image_url %>
</p>

<h2>Documents</h2>
<ul>
  <% @category.documents.each do |doc| %>
    <li>
      <%= link_to doc.name, document_path(doc) %>
    </li>
  <% end %>
  <li><%= link_to "Add New Document...", new_category_document_path(@category) %></li>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
